
<footer class="bg-[#040714] text-white py-10 px-6 mt-[2px]">
    <div class="max-w-6xl mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6">
      <div>
        <h3 class="text-lg font-semibold mb-4">Disney+ by Mark!
            <br>
            Hope you enjoy the app!
        </h3>
       
      </div>
  
      <div>
        <h3 class="text-lg font-semibold mb-4">Help</h3>
        <ul class="space-y-2 text-sm text-gray-500">
          <li class="hover:text-[#00bfff] cursor-pointer">Account</li>
          <li class="hover:text-[#00bfff] cursor-pointer">Support</li>
          <li class="hover:text-[#00bfff] cursor-pointer">Contact Us</li>
          <li class="hover:text-[#00bfff] cursor-pointer">FAQs</li>
        </ul>
      </div>
  
      <div>
        <h3 class="text-lg font-semibold mb-4">Legal</h3>
        <ul class="space-y-2 text-sm text-gray-500">
          <li class="hover:text-[#00bfff] cursor-pointer">Privacy Policy</li>
          <li class="hover:text-[#00bfff] cursor-pointer">Terms of Use</li>
          <li class="hover:text-[#00bfff] cursor-pointer">Cookies</li>
        </ul>
      </div>
  
      <div class="flex flex-col gap-4">
        <img src="icons8-disney-plus-96.png" alt="Disney+" class="w-16" />
        <p class="text-sm text-gray-400">&copy; 2025 Disney+. All rights reserved.</p>
      </div>
    </div>
  </footer>
  